body{
    margin-top: 60px;
}


#overlay{
    position: absolute;
    background-color: rgba(128, 128, 128, 0.915);
    width: 552px;
    height:614px;
    text-align: center;
    visibility: hidden;
}

#instructions{
    float: left;
}

canvas{
    border: solid black 1px;
    margin: 0 auto;
}

.holder{
    display: inline-block;
}

.endReport{
background-color: aquamarine;
width:40%;
height: 50%;
margin: 0 30%;
margin-top: 25%;
border-radius: 10%;
}

.green{
    text-align: center;
    margin: 0;
}

.blue{
    background-color: lightgray;
}