h1 {
    width: 50%;
    display: flex;
    justify-content: center;
    margin: auto;
    font-size: 40px;
    padding: 10px 0px 10px 0px;
    color: black;
    background-color: white; 
}

h2 {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    margin: auto;  
    padding: 10px 0px 10px 0px;
}

.nav-bar{
    border-top-style: solid;
    border-top-color: hotpink;
    width: 50%;
    margin: auto;
    background-color: black;
    display: flex;
    justify-content: flex-start;
}

.nav-bar a {
    color: white;
    float: left;
    display: block;
    text-align: center;
    padding: 10px 25px;
    text-decoration: none;
    font-size: 17px;
}

.nav-bar a:hover{
    background-color: antiquewhite;
    color: black;
}

.active {
    background-color: hotpink;
    color: rgb(73, 65, 65);
  }

p {
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: flex-start;
    padding: 10px 0px 0px 0px;
}


ul{
    width: 50%;
    margin: auto;
}

.content{
    padding: 20px 0px 0px 0px;
    width: 50%;
    height: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
    position: relative;
}

.blog-link{
    display: inline-block;
}

figure{  
    width: 200px;
    height: 100%;
}

figcaption{
    background-color: black;
    width: inherit;
    text-align: center;
    font-size: 30px;
    font-family: Impact, Charcoal, sans-serif;
}

a:visited{
    color: white;
    text-decoration: none;
}
a:link{
    text-decoration: none;
}


