
body{
    padding-top: 60px;
}

div{
    padding: 0;
}

h1{
    text-decoration: underline;
}



figure{
    display: flex;
    justify-content: center;
    margin-top: 50%;
}

.righting{
    display: inline-block;
}


figcaption{
    text-align: center;
}

footer{
    color: blue;
    margin-bottom: 1em;
    cursor: pointer;
}

button.front{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: none;
}

button:focus{
    outline: 0;
}

#brac{
    background-color: rgb(42, 163, 42);
    transition: all .15s linear;
}

#heart{
    background-color: red;
    transition: all .15s linear;
}

#game{
    background-color: rgb(43, 43, 221);
    transition: all 0.15s linear;
}

#brac:hover, #game:hover, #heart:hover{
    background-color: rgb(255, 123, 0);
    cursor: pointer;
}

.nondef{
    color: black;
}

@media (min-width: 768px){

.long{
    height: 700px;
    padding: 0;

}
.wireframe{
    display: inline-block;
    justify-content: inherit;
    margin: 0 auto;
}
#tech, #mind{
    border-right: 1px rgb(199, 193, 193) solid;
}
}

